    
    /*html,.drag{
        font-family: 'Play';
    }
    */

     .brand-logo{
        
        letter-spacing: 5px;
      
    }

    .brand-logo img{
        
         width: 44px;
        filter: invert(1);
     
       
    }